---
import Button, { ButtonVariant } from '../Button.astro'
---

<div class="rounded-lg bg-primary shadow-lg">
	<div class="container mx-auto px-4 py-8">
		<div class="flex flex-col md:flex-row items-center justify-between">
			<div class="flex-1">
				<h2 class="text-2xl font-medium text-white mb-2">Brocha</h2>
				<p class="text-accent mb-4 text-xs">
					Get the latest news and updates from our team
				</p>
				<Button variant={ButtonVariant.secondary}>Ver producto</Button>
			</div>
			<img src="/images/BROCHA_PROFESIONAL_BLANCA_4.png" class="w-80" />
		</div>
	</div>
</div>
