---
interface Props {
	name: string
	description?: string
	image: string
	size?: string
	price?: number
}

const { name, description, image, size, price } = Astro.props
---

<div
	class="grid place-items-center cursor-pointer rounded-lg transition-all transform duration-500 hover:scale-110">
	<div
		class="grid place-items-center bg-primary/10 rounded-lg h-52 mb-2 shadow-lg">
		<img width="200" height="200" src={image} alt='Brocha Profesional 4"' />
	</div>
	<h3 class="font-medium">{`${name} ${size}`}</h3>
	<p class="text-xs text-accent">{description}</p>
</div>
