---

---

<div class="space-x-2">
	<ul class="flex space-x-10 list-disc font-medium text-sm">
		<li class="">
			<a href="/catalogo" class="group transition duration-300">
				Ver catálogo
				<span
					class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"
				></span>
			</a>
		</li>
		<li>
			<a href="#" class="group transition duration-300">
				Brochas
				<span
					class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"
				></span>
			</a>
		</li>
		<li>
			<a href="#" class="group transition duration-300">
				Rodillos
				<span
					class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"
				></span>
			</a>
		</li>
	</ul>
</div>
